<div class="inputs-container">
    <input
            class="inputs-container__input"
            type={{type}}
            name={{name}}
            placeholder={{placeholder}}
            disabled={{disabled}}
    />
    <label class="inputs-container__label">{{placeholder}}</label>
</div>
