<div class="signin">
    <div class="signin__body">
        <div class="signin__header">
            <div class="signin__title">
                Регистрация
            </div>
            <div class="signin__field">
                {{{input-email}}}
                {{{label-email}}}
                {{{email-helper}}}
            </div>
            <div class="signin__field">
                {{{input-login}}}
                {{{label-login}}}
                {{{login-helper}}}
            </div>
            <div class="signin__field">
                {{{input-name}}}
                {{{label-name}}}
                {{{name-helper}}}
            </div>
            <div class="signin__field">
                {{{input-lastname}}}
                {{{label-lastname}}}
                {{{lastname-helper}}}
            </div>
            <div class="signin__field">
                {{{input-tel}}}
                {{{label-tel}}}
                {{{tel-helper}}}
            </div>
            <div class="signin__field">
                {{{input-pass}}}
                {{{label-pass}}}
                {{{pass-helper}}}
            </div>
            <div class="signin__field">
                {{{input-pass2}}}
                {{{label-pass2}}}
                {{{pass2-helper}}}
            </div>
        </div>
        <div class="signin__footer">
            <div>
                {{{signin-button}}}
            </div>
            <div class="signin__no-account link">
                {{{link-no-account}}}
            </div>
        </div>
    </div>
</div>
