<div class="main">
    <div class="main__body">
        <div class="main__left-area">
            <div class="main__left-area-header">
                <div>
                    {{{linkProfile}}}
                </div>
                <div class="left-area-header__text-field">
                    {{{inputFind}}}
                    {{{imageFind}}}
                </div>
            </div>
            <div class="main__left-area-content message-box">
                {{{messageBoxes}}}
            </div>
        </div>
        {{{chatParent}}}
    </div>
</div>
