<div class="profile">
    <div class="profile__body">
        <div class="profile__left-area">
            <div class="profile__button-back">
                {{{image-back}}}
            </div>
        </div>
        <div class="profile__right-area right-area">
            <div class="right-area__header">
                {{{image-logo}}}
                {{{label-firstname}}}
            </div>
            <div class="right-area__center">
                <div class="profile__field text-field-wide">
                    <div class="text-field-wide__container">
                        {{{input-email}}}
                        {{{label-email}}}
                        {{{helper-email}}}
                    </div>
                </div>
                <div class="profile__field text-field-wide">
                    <div class="text-field-wide__container">
                        {{{input-login}}}
                        {{{label-login}}}
                        {{{helper-login}}}
                    </div>
                </div>
                <div class="profile__field text-field-wide">
                    <div class="text-field-wide__container">
                        {{{input-firstname}}}
                        {{{label2-firstname}}}
                        {{{helper-firstname}}}
                    </div>
                </div>
                <div class="profile__field text-field-wide">
                    <div class="text-field-wide__container">
                        {{{input-lastname}}}
                        {{{label-lastname}}}
                        {{{helper-lastname}}}
                    </div>
                </div>
                <div class="profile__field text-field-wide">
                    <div class="text-field-wide__container">
                        {{{input-chatname}}}
                        {{{label-chatname}}}
                        {{{helper-chatname}}}
                    </div>
                </div>
                <div class="profile__field text-field-wide">
                    <div class="text-field-wide__container">
                        {{{input-tel}}}
                        {{{label-tel}}}
                        {{{helper-tel}}}
                    </div>
                </div>
            </div>
            <div class="right-area__footer">
                <div class="profile__field text-field-wide">
                    <div class="text-field-wide__container">
                        {{{link-changedata}}}
                        <div style="user-select:none">&nbsp;</div>
                    </div>
                </div>
                <div class="profile__field text-field-wide">
                    <div class="text-field-wide__container">
                        {{{break1}}}
                    </div>
                </div>
                <div class="profile__field text-field-wide">
                    <div class="text-field-wide__container">
                        {{{link-changepassword}}}
                        <div style="user-select:none">&nbsp;</div>
                    </div>
                </div>
                <div class="profile__field text-field-wide">
                    <div class="text-field-wide__container">
                        {{{break2}}}
                    </div>
                </div>
                <div class="profile__field text-field-wide">
                    <div class="text-field-wide__container">
                        {{{link-exit}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
