<div class="profile__body">
    <p class="profile__header">{{title}}</p>
    {{#if image}}
        <img class=profile__image" alt={{alt}} src="{{image}}"/>
    {{/if}}
    <div class="profile__inputs-container">
        {{{loginInput}}}
        {{{passwordInput}}}
        {{{passwordRepeatInput}}}
        {{{firstNameInput}}}
        {{{lastNameInput}}}
        {{{emailInput}}}
    </div>
    <div>
        {{{buttonChangeData}}}
    </div>
    <div>
        {{{buttonChangePassword}}}
    </div>
    <div>
        {{{link}}}
    </div>
</div>
